[submodule "riak_pb"]
	path = riak_pb
	url = https://github.com/sigicom-ab/riak_pb.git
[submodule "tools"]
	path = tools
	url = https://github.com/sigicom-ab/riak-client-tools.git
[submodule "docs"]
	path = docs
	url = https://github.com/sigicom-ab/infranet-riak-python-client.git
	branch = gh-pages
